<a href="https://colab.research.google.com/github/otanet/RecSys/blob/master/3_Knowledge_Recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [28]:
cd /content/drive/My Drive/data/

/content/drive/My Drive/data

In [34]:
pwd

'/content/drive/My Drive/data'

In [35]:
ls

movies_metadata.csv

In [0]:
# upload the following file: 'movies_metadata.csv'
# make sure that the file has done.

In [37]:
import pandas as pd
import numpy as np

df = pd.read_csv('movies_metadata.csv')

#Print all the features (or columns) of the DataFrame
df.columns

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [38]:
#Only keep those features that we require 
df = df[['title','genres', 'release_date', 'runtime', 'vote_average', 'vote_count']]

df.head()

                         title  ... vote_count
0                    Toy Story  ...     5415.0
1                      Jumanji  ...     2413.0
2             Grumpier Old Men  ...       92.0
3            Waiting to Exhale  ...       34.0
4  Father of the Bride Part II  ...      173.0

[5 rows x 6 columns]

In [0]:
#Convert release_date into pandas datetime format
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

#Extract year from the datetime
df['year'] = df['release_date'].apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [0]:
#Helper function to convert NaT to 0 and all other years to integers.
def convert_int(x):
    try:
        return int(x)
    except:
        return 0

In [0]:
#Apply convert_int to the year feature
df['year'] = df['year'].apply(convert_int)

In [42]:
#Drop the release_date column
df = df.drop('release_date', axis=1)

#Display the dataframe
df.head()

                         title  ...  year
0                    Toy Story  ...  1995
1                      Jumanji  ...  1995
2             Grumpier Old Men  ...  1995
3            Waiting to Exhale  ...  1995
4  Father of the Bride Part II  ...  1995

[5 rows x 6 columns]

In [43]:
#Print genres of the first movie
df.iloc[0]['genres']

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [44]:
#Import the literal_eval function from ast
from ast import literal_eval

#Define a stringified list and output its type
a = "[1,2,3]"
print(type(a))

#Apply literal_eval and output type
b = literal_eval(a)
print(type(b))

<class 'str'>
<class 'list'>

In [0]:
#Convert all NaN into stringified empty lists
df['genres'] = df['genres'].fillna('[]')

#Apply literal_eval to convert stringified empty lists to the list object
df['genres'] = df['genres'].apply(literal_eval)

#Convert list of dictionaries to a list of strings
df['genres'] = df['genres'].apply(lambda x: [i['name'].lower() for i in x] if isinstance(x, list) else [])

In [46]:
df.head()

                         title                        genres  ...  vote_count  year
0                    Toy Story   [animation, comedy, family]  ...      5415.0  1995
1                      Jumanji  [adventure, fantasy, family]  ...      2413.0  1995
2             Grumpier Old Men             [romance, comedy]  ...        92.0  1995
3            Waiting to Exhale      [comedy, drama, romance]  ...        34.0  1995
4  Father of the Bride Part II                      [comedy]  ...       173.0  1995

[5 rows x 6 columns]

In [47]:
#Create a new feature by exploding genres
s = df.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)

#Name the new feature as 'genre'
s.name = 'genre'

#Create a new dataframe gen_df which by dropping the old 'genres' feature and adding the new 'genre'.
gen_df = df.drop('genres', axis=1).join(s)

#Print the head of the new gen_df
gen_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

       title  runtime  vote_average  vote_count  year      genre
0  Toy Story     81.0           7.7      5415.0  1995  animation
0  Toy Story     81.0           7.7      5415.0  1995     comedy
0  Toy Story     81.0           7.7      5415.0  1995     family
1    Jumanji    104.0           6.9      2413.0  1995  adventure
1    Jumanji    104.0           6.9      2413.0  1995    fantasy

In [0]:
def build_chart(gen_df, percentile=0.8):
    #Ask for preferred genres
    print("Input preferred genre")
    genre = input()
    
    #Ask for lower limit of duration
    print("Input shortest duration")
    low_time = int(input())
    
    #Ask for upper limit of duration
    print("Input longest duration")
    high_time = int(input())
    
    #Ask for lower limit of timeline
    print("Input earliest year")
    low_year = int(input())
    
    #Ask for upper limit of timeline
    print("Input latest year")
    high_year = int(input())
    
    #Define a new movies variable to store the preferred movies. Copy the contents of gen_df to movies
    movies = gen_df.copy()
    
    #Filter based on the condition
    movies = movies[(movies['genre'] == genre) & 
                    (movies['runtime'] >= low_time) & 
                    (movies['runtime'] <= high_time) & 
                    (movies['year'] >= low_year) & 
                    (movies['year'] <= high_year)]
    
    #Compute the values of C and m for the filtered movies
    C = movies['vote_average'].mean()
    m = movies['vote_count'].quantile(percentile)
    
    #Only consider movies that have higher than m votes. Save this in a new dataframe q_movies
    q_movies = movies.copy().loc[movies['vote_count'] >= m]
    
    #Calculate score using the IMDB formula
    q_movies['score'] = q_movies.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) 
                                       + (m/(m+x['vote_count']) * C)
                                       ,axis=1)

    #Sort movies in descending order of their scores
    q_movies = q_movies.sort_values('score', ascending=False)
    
    return q_movies

In [49]:
#Generate the chart for top animation movies and display top 5.
build_chart(gen_df).head()

Input preferred genre
action
Input shortest duration
3
Input longest duration
1995
Input earliest year
2013
Input latest year
2016

                                     title  runtime  ...   genre     score
23753              Guardians of the Galaxy    121.0  ...  action  7.800031
24455                           Big Hero 6    102.0  ...  action  7.651834
25534         Kingsman: The Secret Service    130.0  ...  action  7.461148
23053  Captain America: The Winter Soldier    136.0  ...  action  7.457036
23465                     Edge of Tomorrow    113.0  ...  action  7.433360

[5 rows x 7 columns]

In [0]:
#Convert the cleaned (non-exploded) dataframe df into a CSV file and save it in the data folder
#Set parameter index to False as the index of the DataFrame has no inherent meaning.
# df.to_csv('../data/metadata_clean.csv', index=False)
df.to_csv('metadata_clean.csv', index=False)