<a href="https://colab.research.google.com/github/otanet/RecSys/blob/master/simple_rec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
%cd "drive/My Drive/the-movie-dataset"

[Errno 2] No such file or directory: 'drive/My Drive/the-movie-dataset'
/content/drive/My Drive/the-movie-dataset

In [0]:
cd ..

/content/drive/My Drive

In [0]:
cd the-movie-dataset/

/content/drive/My Drive/the-movie-dataset

In [0]:
%ls

credits.csv   links.csv        movies_metadata.csv  ratings_small.csv
keywords.csv  links_small.csv  ratings.csv

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [0]:
df = pd.read_csv('movies_metadata.csv')
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [0]:
m = df['vote_count'].quantile(0.80)
m

50.0

In [0]:
q_movies = df[(df['runtime'] >= 45) & (df['runtime'] <= 300)]
q_movies = q_movies[q_movies['vote_count'] >= m] # データを捨てることになる数量
q_movies.shape

(8963, 24)

In [0]:
C = df['vote_average'].mean()
C

5.618207215133889

In [0]:
def weighted_rating(x, m=m, C=C):
  v = x['vote_count']
  R = x['vote_average']
  return (v / (v+m) * R) + (m/ (m+v) * C)

In [0]:
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)
q_movies['score']

0        7.680953
1        6.873979
2        6.189510
4        5.681661
5        7.646235
           ...
45268    5.378376
45339    5.345211
45343    4.372859
45348    4.456289
45441    5.307233
Name: score, Length: 8963, dtype: float64

### Knowledge-Based

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv('movies_metadata.csv')
df.columns

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [0]:
df[['title', 'genres', 'adult','release_date', 'runtime','vote_average', 'vote_count']]

                             title  ... vote_count
0                        Toy Story  ...     5415.0
1                          Jumanji  ...     2413.0
2                 Grumpier Old Men  ...       92.0
3                Waiting to Exhale  ...       34.0
4      Father of the Bride Part II  ...      173.0
...                            ...  ...        ...
45461                       Subdue  ...        1.0
45462          Century of Birthing  ...        3.0
45463                     Betrayal  ...        6.0
45464             Satan Triumphant  ...        0.0
45465                     Queerama  ...        0.0

[45466 rows x 7 columns]

In [0]:
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
df['year'] = df['release_date'].apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [0]:
def convert_int(x):
  try:
    return int(x)
  except:
      return 0
df['year'] = df['year'].apply(convert_int)

In [0]:
# x = int(x)

In [0]:
df = df.drop('release_date', axis=1)
df.head()

   adult                              belongs_to_collection  ... vote_count  year
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...     5415.0  1995
1  False                                                NaN  ...     2413.0  1995
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...  ...       92.0  1995
3  False                                                NaN  ...       34.0  1995
4  False  {'id': 96871, 'name': 'Father of the Bride Col...  ...      173.0  1995

[5 rows x 24 columns]

In [0]:
df.iloc[0]['genres']

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

#### 確認

In [0]:
from ast import literal_eval
a = "[1, 2, 3]"
b = literal_eval(a)
print(type(a))
print(type(b))

<class 'str'>
<class 'list'>

In [0]:
df['genres'] = df['genres'].fillna('[]')
df['genres'] = df['genres'].apply(literal_eval)

In [0]:
df['genres'] = df['genres'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [] )
df.head()

   adult                              belongs_to_collection  ... vote_count  year
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...     5415.0  1995
1  False                                                NaN  ...     2413.0  1995
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...  ...       92.0  1995
3  False                                                NaN  ...       34.0  1995
4  False  {'id': 96871, 'name': 'Father of the Bride Col...  ...      173.0  1995

[5 rows x 24 columns]

In [0]:
s = df.apply(lambda x:
             pd.Series(x['genres']), axis=1).stack() .reset_index(level=1, drop=True)
s.name = 'genre'
gen_df = df.drop('genres', axis=1).join(s)
gen_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

   adult                              belongs_to_collection  ...  year      genre
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...  1995  Animation
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...  1995     Comedy
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  ...  1995     Family
1  False                                                NaN  ...  1995  Adventure
1  False                                                NaN  ...  1995    Fantasy

[5 rows x 24 columns]

In [0]:
def build_chart(gen_df, percentile=0.8):
  print("input preferred genre")
  genre = input()
  print("Input shortest duration")
  low_time = int(input())
  print("Input longest duration")
  high_time = int(input())
  print("Input earliest year")
  low_year = int(input())
  print("Input latest year")
  high_year = int(input())
  movies = gen_df.copy()
  movies = movies[(movies['genre'] == genre) &
                  (movies['runtime'] >= low_time) &
                  (movies['runtime'] <= high_time) &
                  (movies['year'] >= low_year) &
                  (movies['year'] <= high_year)]
  C = movies['vote_average'].mean()
  m = movies['vote_count'].quantile(percentile)
  q_movies = movie.copy() .loc[movies['vote_count'] >= m]
  q_movies['score'] = q_movies.apply(lambda x: 
                                   (x['vote_count'] / (x['vote_count'] +m) * x['vote_average']) + (m/ (m+x['vote_count']) * C), axis=1)
  q_movies = q_movies.sort_values('score', ascending=False)
  return q_movies